body {
    font-family: 'Livvic';
    margin: 0;
    background-color: #014E56;
    color: white;
    font-size: 18px;
    line-height: 1.5;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  .container {
    max-width: 1110px;
    margin:auto;
  }
  .font1{
    margin: auto;
    position: relative;
    top: 500px;
  }
  .container2 {
    max-width: 1110px;
    margin: auto;
    gap: 260px;
    position: relative;
  }
  
  .container3 {
    max-width: 1110px;
    justify-content: center;
    align-items: center;
    position: relative;
  
  }
  
  /* HEADER */
  header {
    padding: 64px 0 80px;
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    height: 42px;
    right: 26px;
    position: relative;
    top: 13px;
  }
  
  .main-nav ul {
   margin: auto;
   position: relative;
   list-style: none;
   display: flex;
   left: 21px;
   top: 15px;
   gap: 45px;
   font-size: 18px;
  }
  
  .main-nav a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
   }
  
  .main-nav a:hover {
    color: #F67E7E;
  }
  
  .btn-outline {
    border: 2px solid white;
    padding: 11px 33px;
    border-radius: 24px;
    font-weight: 600;
    transition: background 0.3s ease;
    position: relative;
    margin: auto;
    left: 340px;
    top: 12px;
  }
  
  .btn-outline:hover {
    background-color: white;
    color: #014E56;
  }
  
  .button-class2 {
    color: white;
    cursor: pointer;
    position: absolute;
    top: calc(50% - 14px);
    left: 63.57%;
    line-height: 28px;
    font-weight: 600;
  }
  
  .button-class {
    color: white;
    cursor: pointer;
    position: absolute;
    top: calc(50% - 14px);
    left: 0%;
    line-height: 28px;
    font-weight: 600;
  }
  
/* CONTACTS */
  .contact-container {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 0px;
  }
   
  .contact-left {
    flex: 1;
    min-width: 280px;
    margin-top: 20px;
    margin-left: -20px;
  }
   
  .contact-left h1 {
    font-size: 64px;
    margin-bottom: 16px;
  }
   
  .contact-left .highlight {
    color: #F67E7E;
    font-weight: 700;
    font-size: 32px;
  }
   
  .contact-reasons {
    padding: 0;
    margin-top: 50px;
    margin-bottom: 142px;
    font-size: 18px;
  }
   
  .contact-reasons li {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 0.75rem;
  }
   
  .contact-reasons img {
    width: 65px;
    height: 65px;
  }
   
  .contact-right {
    flex: 1;
    min-width: 280px;
    margin-top: 55px;
    margin-right: -10px;
  }
   
  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }
   
  .contact-form input,
  .contact-form textarea {
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    padding: 0.5rem;
    font-size: 1rem;
    outline: none;
    resize: vertical;
  }
   
  .contact-form input:hover,
  .contact-form textarea:hover,
  .contact-form input:focus,
  .contact-form textarea:focus {
  border-color: #b9bbc4;
}

  .contact-form input::placeholder,
  .contact-form textarea::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }

/* javascript dalykas */
  .error-message {
    color: #F67E7E;
    font-size: 14px;
    margin-top: -8px;
    display: block;
  }
  
  .btn-submit {
    align-self: flex-start;
    background: white;
    color: #014E56;
    padding: 0.5rem 1.5rem;
    border-radius: 24px;
    border: none;
    font-weight: 700;
    cursor: pointer;
    transition: background 0.3s ease;
    width: 120px;
    height: 45px;
  }
   
  .btn-submit:hover {
    background-color: #79c8c7;
    color: #014E56;
  }

  .contact-decor {
    position: absolute;
    left: 0;
    top: 255px;
    max-width: 350px;
    height: auto;
  }

  .contact2-decor {
    position: absolute;
    right: 0;
    bottom: -100px;
    max-width: 350px;
    height: auto;
  }

/* FOOTER */
  footer {
    background-color: #002529;
    padding: 48px 0;
  }
  
  .footer-container {
    margin-top: 0px;
    margin-left: 150px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  
  .footer-left nav a {
    display: block;
    margin: 8px 0;
  }

  .footer-left nav a:hover {
    color: #F67E7E;
  }
  
  .footer-middle {
    font-size: 15px;
    line-height: 25px;
    color: #fff;
    opacity: 0.6;
  }
  
  .footer-right {
    text-align: right;
  }
  
  .footer-right img {
    margin-bottom: 16px;
  }
  .footer-copy {
    font-size: 15px;
    line-height: 25px;
    color: #fff;
    opacity: 0.6;
  }
  /* NAV */
  .nav1{
    display: flex;
    gap: 40px;
  }


/* burger nom nom */
.hamburger {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 30px;
  color: white;
  cursor: pointer;
  z-index: 1100;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: #2C6269;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 1000;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mobile-menu.open {
  transform: translateX(0);
}

.close-btn {
  font-size: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.mobile-menu ul {
  list-style: none;
  padding: 0;
  margin-top: 60px;
}

.mobile-menu li {
  margin: 20px 0;
}

.mobile-menu a {
  color: white;
  text-decoration: none;
}

.mobile-contact-btn {
  display: inline-block;
  margin-top: 30px;
  padding: 11px 33px;
  border: 2px solid white;
  border-radius: 24px;
  font-weight: 600;
  color: white;
  text-align: center;
  transition: background 0.3s ease;
  text-decoration: none;
}

.mobile-contact-btn:hover {
  background-color: white;
  color: #014E56;
}




/* ====== TABLET: 1024px and below ====== */
@media (max-width: 1024px) {
  .main-nav ul {
    right: 100px;
    gap: 30px;
  }

  .contact-container {
    align-items: center;
    gap: 0px;
    flex-direction: column;
  }

  .contact-left h1,h2 {
    font-size: 48px;
    text-align: center;
    align-items: center;
  }

  .contact-left .highlight {
    font-size: 28px;
    text-align: center;
    align-items: center;
  }

  .contact-reasons {
    font-size: 18px;
    width: 600px;
    height: auto;
  }

  .contact-reasons img {
    width: 50px;
    height: 50px;
  }

  .contact-form {
    width: 600px;
    height: 500px;
    margin-top: -100px;
  }

  .contact-decor,
  .contact2-decor {
    max-width: 200px;
  }

  .contact2-decor {
    bottom: -420px;
  }

  .footer-container {
    flex-direction: column;
    align-items: left;
    gap: 2rem;
    text-align: center;
  }

  .footer-left {
    align-items: left;
  }

  .footer-middle {
    align-items: right;
  }

  .nav1 {
    gap: 24px;
    justify-content: center;
  }

  .footer-right {
    text-align: center;
  }
}

/* ====== MOBILE: 767px and below ====== */
@media (max-width: 767px) {
  .header-container {
    flex-direction: column;
    align-items: center;
  }

  .main-nav ul,
  .btn-outline {
    display: none;
  }

  .contact-container{
    align-items: center;
  }
  .contact-left h1 {
    font-size: 40px;
    text-align: center;
  }

  .contact-left .highlight {
    font-size: 22px;
    text-align: center;
  }

  .contact-reasons {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
  }

  .contact-reasons li {
    justify-content: flex-start;
  }

  .contact-form {
    width: 600px;
    margin-bottom: 0px;
  }

  .contact-decor {
    display: none;
  }

  .contact2-decor {
    right: 0;
    bottom: -480px;
  }


  .footer-container {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    text-align: center;
  }

  .nav1 {
    gap: 24px;
    justify-content: center;
  }

  .footer-right {
    text-align: center;
  }

  .hamburger {
    display: block;
  }

  .main-nav ul,
  .btn-outline {
    display: none;
  }
}