body {
  font-family: 'Livvic';
  margin: 0;
  background-color: #014E56;
  color: white;
  font-size: 18px;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 24px;
}
.container2 {
  max-width: 1110px;
  margin: 0 auto;
  padding: 3px 24px;
  display: flex;
  gap: 260px;
}

.container3 {
  max-width: 1110px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

}

/* HEADER */
header {
  padding: 64px 0 80px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 42px;
  right: 26px;
  position: relative;
  top: 13px;
}

.main-nav ul {
 margin: auto;
 position: relative;
 list-style: none;
 display: flex;
 left: 21px;
 top: 15px;
 gap: 23px;
 font-size: 18px;
}

.main-nav a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
 }

.main-nav a:hover {
  color: #F67E7E;
}

.btn-outline {
  border: 2px solid white;
  padding: 11px 33px;
  border-radius: 24px;
  font-weight: 600;
  transition: background 0.3s ease;
  position: relative;
  margin: auto;
  left: 335px;
  top: 15px;
}

.btn-outline:hover {
  background-color: white;
  color: #014E56;
}

.button-class2 {
  color: white;
  cursor: pointer;
  position: absolute;
  top: calc(50% - 14px);
  left: 63.57%;
  line-height: 28px;
  font-weight: 600;
}

.button-class {
  color: white;
  cursor: pointer;
  position: absolute;
  top: calc(50% - 14px);
  left: 0%;
  line-height: 28px;
  font-weight: 600;
}

/* HERO */
.hero {
  background-color: #014E56;
  height: 536px;
  position: relative;
}

.containerHero {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.hero-content {
 max-width: 600px;
margin: auto;
position: relative;
top: 75px;
left: 9px;
}

.hero-text {
  flex: 1 1 40%;
  max-width: 500px;
}

.hero h1 {
  font-size: 105px;
  font-weight: 700;
  line-height: 100px;
  margin: 0;
}

.hero .highlight {
  color: #F67E7E;
}

.hero p {
  font-family: Livvic;
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  position: relative;
  margin: auto;
  top: 162px;
  max-width: 500px;
  left: 24px;
}
hr{
  width: 52px;
  position: relative;
  margin: auto;
  left: 88px;
  bottom: 26px;
  height: 4px;
  background: #79C8C7;
  border: none;

}
.hero-decor {
  position: absolute;
  left: 1px;
  top: 71px;
  max-width: 350px;
  height: auto;
  width: 105px;
}


/* FEATURES */
.features {
  background-color: #012F34;
  padding: 64px 0;
  position: relative;
}

.features .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.features h2 {
  width: 445px;
  font-size: 50px;
  line-height: 50px;
  margin: auto;
  position: relative;
  top: 28px;
  right: 88px;
  word-spacing: 2px;
}

/* Raudonas brūkšnelis virš h2 */
.features h2::before {
  content: "";
  display: block;
  width: 50px;
  height: 4px;
  background-color: #F67E7E;
  margin-bottom: 60px;
}

.feature-grid {
  display: flex;
  flex-direction: column;
  gap: 55px;
  max-width: 540px;
}

.feature-item {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

.feature-item img {
  width: 75px;
  height: 75px;
  margin: auto;
  position: relative;
  top: 158px;
  left: 9px;
}

.feature-item h3 {
margin: auto;
position: relative;
  color: #F67E7E;
  font-size: 19px;
  top: 158px;
  left: 4px;
  
}

.feature-item p {
  margin: auto;
  position: relative;
  font-size: 15px;
  line-height: 25px;
  opacity: 0.8;
  color: white;
  top: 179px;
  left: 5px;
  word-spacing: 1.9px;
}

/* TESTIMONIALS */
.testimonials {
  background-color: #004047;
  height: 735px;
  display: block;
  text-align: center;
  align-items: center;
  justify-items: center;
}

.testimonials h2 {
  font-size: 48px;
  line-height: 56px;
  width: 85%;
  margin-bottom: 90px;
  text-align: center;

}

.testimonials .highlight {
  color: #79C8C7;
}

.testimonial-grid {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.testimonial {
  max-width: 350px;
  text-align: center;
  font-size: 18px;
  line-height: 28px;
}

.testimonial img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-bottom: 24px;
}

blockquote p {
  font-style: italic;
}

cite {
  font-style: normal;
  color: #79C8C7;
}

/* CTA */
.cta {
  background-color: #F67E7E;
  color: #012F34;
  height: 200px;
  display: flex;

}

.cta h2 {
  font-size: 48px;
  margin-top: 70px;
}

.btn-filled {
  padding: 5px 33px;
  background-color: transparent;
  border: 2px solid #012F34;
  border-radius: 28px;
  width: 133px;
  height: 48px;
  color: #012F34;
  text-align: center;
  line-height: 45px;
  margin-top: 76px;
  transition: background 0.3s ease;
}
.btn-filled:hover {
  background-color: #012F34;
  color: white;
}

/* FOOTER */
footer {
  background-color: #002529;
  padding: 48px 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-left nav a {
  display: block;
  margin: 8px 0;
}

.footer-left nav a:hover {
  color: #F67E7E;
}

.footer-middle {
  font-size: 15px;
  line-height: 25px;
  color: #fff;
  opacity: 0.6;
}

.footer-right {
  text-align: right;
}

.footer-right img {
  margin-bottom: 16px;
}
.footer-copy {
  font-size: 15px;
  line-height: 25px;
  color: #fff;
  opacity: 0.6;
}
/* NAV */
.nav1{
  display: flex;
  gap: 40px;
}
/* IMG */
.img1{
position: relative;
margin: auto;
left: 425px;
top: 240px;
width: 243px;
}
.img2{
position: relative;
margin: auto;
left: 710px;
top: 235px;
}

.img3{
  position: relative;
  margin: auto;
  right: 170px;
  top:211px ;  
}

.img4{
margin: auto;
position: relative;
left: 1420px;
top: 65px;
width: 105px;
}